@{
    ViewBag.Title = "Home Page";
}



@Scripts.Render("~/Scripts/Script1.js")
@Scripts.Render("~/Scripts/Script2.js")
@Scripts.Render("~/Scripts/Script.js")

<div class="row">
    <div id="UpdatePanel">

    </div>
</div>